<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo12"
        tools:ignore="UnusedAttribute">

        <activity
        Login--register-and-splash
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".auth.AuthActivity"
        master
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        <activity
             android:name=".RecipeActivity"
             android:exported="true" />

        </activity>


    </application>

</manifest>
